#daemon=1
server=1
listen=1
staking=0
logtimestamps=1
mnconflock=0
enableaccounts=1

rpcuser=SyndicateRPC
rpcpassword=THIS_SHOULD_BE_A_REALLY_LONG_RANDOM_PASSWORD
rpcallowip=127.0.0.1
rpcport=22348
port=9999

